.navbar{
    /* background-color: darkgrey; */
    list-style-type: none;
    display: flex;
}

.navbar a{
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.3em;
    color: black;
}

.navbar a:hover{
    color:grey;
    border-bottom: 2px solid grey
}

.navbar a:active{
    color: black
}